.cover__link {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  color: inherit;
  text-decoration: none;
}

.cover__link::before {
  background: #2a2c2f;
  opacity: .3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.cover__link:hover::before {
  opacity: .8;
}
