.cover__overlay {
  box-sizing: border-box;
  min-height: 57.8%;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /*display: block;*/
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 92px;
  left: 48px;
  bottom: 0;
  right: 48px;
  z-index: 1;
  opacity: .7;
  max-width: 100%;
  transition: opacity .1s linear;
}

.cover__overlay:hover {
  opacity: .3;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    max-width: 100%;
    min-height: 640px;
    position: absolute;
    top: 76px;
    left: 0%;
    bottom: 0%;
    right: 0%;
    bottom: 0%;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    max-width: 100%;
    min-height: 480px;
    position: absolute;
    top: 90px;
    left: 0;
    bottom: 0;
    right: 0;
  }
}


@media screen and (max-width: 320px) {
  .cover__overlay {
    max-width: 100%;
    min-height: 200px;
    position: absolute;
    top: 66px;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
