.cover__overlay {
  box-sizing: border-box;
  min-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 92px;
  left: 48px;
  bottom: 0;
  right: 48px;
  z-index: 1;
  opacity: .7;
  max-width: 100%;
  transition: opacity .1s linear;
}

.cover__overlay:hover {
  opacity: .3;
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}
