.place {
  /*width: 984px;
  height: 660;*/
  display: grid;
  grid-template-columns: 1fr 1fr minmax(min-content, max-content);
  grid-template-rows: 1fr 1fr minmax(min-content, max-content);
  gap: 40px 48px;
  grid-template-areas:
  "place__title place__website"
  "place__image place__paragraph"
}