.footer__link {
  padding-right: 18px;
}

.footer__link:last-of-type {
  padding-right: 0;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .footer__link {
    padding-right: 0;
    padding-bottom: 32px;
  }

  .footer__link:last-of-type {
    padding-bottom: 48px;
  }
}
