.place {
  padding-top: 80px;
  display: grid;
  grid-template-columns: min-content minmax(min-content, max-content);
  gap: 40px 48px;
  grid-template-areas:
  "place__title place__website"
  "place__image place__paragraph"
}

.place:first-of-type {
  padding-top: 0;
}

@media screen and (max-width: 1023px) {
  .place {
    gap: 32px 48px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    gap: 32px;
    grid-template-areas:
    "place__title"
    "place__website"
    "place__image"
    "place__paragraph"
  }
}

@media screen and (max-width: 319px) {
  .place {
    gap: 32px;
    grid-template-areas:
    "place__title"
    "place__website"
    "place__image"
    "place__paragraph"
  }
}
