.place__paragraph-text {
  margin: 0;
  display: flex;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.place__paragraph-text:nth-child(2n) {
  padding-top: 26px;
}

.place__paragraph-text:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph-text {
    line-height: 29px;
  }

  .place__paragraph-text:nth-child(2n) {
    padding-top: 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph-text {
    line-height: 26px;
    font-size: 16px;
  }

  .place__paragraph-text:nth-child(2n) {
    padding-top: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph-text {
    padding-left: 16px;
    padding-right: 16px;
  }
}

