.cover__subtitle {
  margin: 0 auto;
  width: 360px;
  padding-top: 32px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 565px) {
  .cover__subtitle {
    width: 288px;
    padding-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}
